- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

- content_for :body_classes do
  troupex-login-page

.organic-orb.orb-1
.organic-orb.orb-2
.organic-orb.orb-3

.troupex-login-container
  .troupex-login-box
    .troupex-logo-container
      = image_tag 'logo-symbol-wordmark.svg', alt: 'TroupeX', class: 'troupex-login-logo'
    
    .troupex-login-methods
      - if devise_mapping.omniauthable? && resource_class.omniauth_providers.any?
        - resource_class.omniauth_providers.each do |provider|
          = provider_sign_in_link(provider)
        
        - if !omniauth_only?
          .login-divider
            %span= t('auth.or')
      
      - unless omniauth_only?
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'troupex-login-form' }) do |f|
          .fields-group
            = f.input :email,
                      autofocus: true,
                      placeholder: t('simple_form.labels.defaults.email'),
                      label: false,
                      hint: false,
                      input_html: { 'aria-label': t('simple_form.labels.defaults.email'), class: 'troupex-input' }
          
          .fields-group
            = f.input :password,
                      placeholder: t('simple_form.labels.defaults.password'),
                      label: false,
                      hint: false,
                      input_html: { 'aria-label': t('simple_form.labels.defaults.password'), autocomplete: 'current-password', class: 'troupex-input' }
          
          .actions
            = f.button :button, t('auth.login'), type: :submit, class: 'troupex-login-button'
    
    .troupex-login-footer
      = link_to t('auth.didnt_get_confirmation'), new_user_confirmation_path, class: 'troupex-link'
      %span ·
      = link_to t('auth.forgot_password'), new_user_password_path, class: 'troupex-link'
      - if controller_name != 'registrations'
        %span ·
        = link_to t('auth.register'), available_sign_up_path, class: 'troupex-link'